pre {
    padding: .5rem;
    border: .0625rem solid var(--gui-color-400);
    border-radius: .25rem;
    background-color: var(--gui-color-300);
    color: var(--gui-color-600);
    overflow-x: auto;
}
