* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: .75rem;
    color: var(--gui-color-700);
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    border: .125rem solid var(--gui-color-300);
    border-radius: .25rem;
    background-color: var(--gui-color-400);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--gui-color-500);
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner {
    display: none;
}